@import url(https://fonts.googleapis.com/css?family=Lato|Ubuntu+Mono);

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.remark-slide-content, h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

.remark-slide-content h1 { font-size: 2em; }
.remark-slide-content h2 { font-size: 1.6em; }
.remark-slide-content h3 { font-size: 1.4; }
